<h1>Books</h1>

<% @books.each do |book| %>

<p>Title</p>
<span><%= book.title %></span>
<p>Body</p>
<span><%= book.body %></span>
<%= link_to "show", book_path(book.id) %>
<a href="/books/edit">Edit</a>
<a href="">Destroy</a>
<% end %>